<p style="color: green"><%= notice %></p>

<%= render @player %>

<div>
  <% if @allowed %>
    <%= link_to "Edit this player", edit_player_path(@player) %> |
  <% end %>
  <%= link_to "Back to players", players_path %>

  <% if @allowed %>
    <%= button_to "Destroy this player", @player, method: :delete %>
  <% end %>
</div>
