
<%= render "choices/form", choice: choice %>
<% choice.answers.each do |answer|%>
<%= render "/answers/answertoedit", answer: answer %>
<% end %>


<div><%= link_to "Edit Choice", edit_choice_path(choice) %></div>
<div><%= link_to "Destroy Choice", choice_path(choice), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></div>
<div><%= link_to "All Choices", choices_path%></div>