<h1>Choix</h1>

<%= link_to "New Choice", new_choice_path %>

<ul style="list-style: none;">
  <% @choices.each do |choice| %>
    <li>
      <%= choice.step %> ) <a href="<%= choice_path(choice) %>">  <%= choice.description %>  </a>
      => <%= link_to "Destroy Choice", choice_path(choice), data: {
                    turbo_method: :delete,
                  } %>
    </li>
  <% end %>
</ul>
