<p style="color: green"><%= notice %></p>

<%= render @gm %>

<div>
  <% if @allowed %>
    <%= link_to "Edit this gm", edit_gm_path(@gm) %> |
  <% end %>
  <%= link_to "Back to gms", gms_path %>

  <% if @allowed %>
    <%= button_to "Destroy this gm", @gm, method: :delete %>
  <% end %>
</div>
