<div id="<%= dom_id loot %>">
  <p>
    <strong>Life:</strong>
    <%= loot.life %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= loot.strength %>
  </p>

  <p>
    <strong>Exp:</strong>
    <%= loot.exp %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= loot.image %>
  </p>

</div>
