<div style="border: 1px solid black;">
    <h3 style="margin-left: auto;margin-right: auto;width: 20%">Etape : <%=step.step_order%></h3>
    <div>
        <div><%= link_to "Destroy step", step_path(step), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></div>
    </div>
    <div style="display:flex;justify-content:space-around">
        <div>
            <%= render "steps/form", step:step%>
        </div>

        <div >
            <h3>choice:</h3>
            <% if choice = Choice.where("step = ?",[step.step_order]).first %>
            <%= render  "choices/editChoice", choice: choice %>
            <% else %>
            <% choice= Choice.new %>
            <% choice.step = step.step_order%>
            <%= render "choices/form", choice: choice %>
            <% end %>
        </div>

        <div >
            <h3>combattre le monstre:</h3>
            <%= render  "creatures/creaturetoedit", creature: Creature.find(step.creature_id) %>
            
        </div>

    </div>
 </div>   