
<%= form_with model: step do |form| %>


  <div>
    <%= form.label :order %><br>
    <%= form.number_field :order %>
    <% step.errors.full_messages_for(:order).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
  <div>
    <%= form.label :loot_id %><br>
    <%= form.number_field :loot_id %>
    <% step.errors.full_messages_for(:loot_id).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
    <div>
    <%= form.label :creature_id %><br>
    <%= form.number_field :creature_id %>
    <% step.errors.full_messages_for(:creature_id).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%if step.id %>
 

<% end%>

