
<div style="border: 1px solid black;">
    <div style="display:flex;justify-content:space-evenly">
        <p> id :  <%= @step.id %> </p> 
        <p>ordre: <%= @step.step_order %></p>
        <p>id de loot: <%= @step.loot_id %></p>
        <p>chapitre associé: <%= @step.chapter_id %></p>
    </div>


  <%= render  "editStep", step: @step %>

</div>


<div><%= link_to "Edit step", edit_step_path(@step) %></div>
<div><%= link_to "Destroy step", step_path(@step), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></div>
<div><%= link_to "All steps", steps_path%></div>