
<p>  <%= creature.id %></p> 
  
     <div>         <%= image_tag creature.image %> , </div>
     <div>    loot_id : <%= creature.loot_id %> , </div>
     <div>    strength : <%= creature.strength %> , </div>
     <div>    life : <%= creature.life %> , </div>
     <div>    description : <%= creature.description %> </div>
     <div>    given_exp : <%= creature.given_exp %> , </div>

