

<%= form_with model: creature do |form| %>




  <div>
    <%= form.label :loot_id %><br>
    <%= form.number_field :loot_id %>
    <% creature.errors.full_messages_for(:loot_id).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
  <div>
    <%= form.label :strength %><br>
    <%= form.number_field :strength %>
    <% creature.errors.full_messages_for(:strength).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
  <div>

    <%= form.label :life %><br>
    <%= form.number_field :life %>
    <% creature.errors.full_messages_for(:life).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
  <div>

    <%= form.label :given_exp %><br>
    <%= form.number_field :given_exp %>
    <% creature.errors.full_messages_for(:given_exp).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
  <div>

    <%= form.label :image %><br>
    <%= form.text_field :image %>
    <% creature.errors.full_messages_for(:image).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>

  <div>

    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% creature.errors.full_messages_for(:description).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>

  </div>
       
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%if creature.id %>
 

<% end%>

