<%= render :partial => 'shared/disconnect' %>
<p style="color: green"><%= notice %></p>
<h2>Mes games</h2>
<% if @entity != "player" %>
   <%= link_to "ajouter une game", new_game_path %>
<% end %>

<!-- Rejoindre une partie commencé-->
<div id="games">

    <% @games.each do |game| %>
      <p><%= link_to game.name, game_path(game) %></p>
      <!--  Supprimer une partie -->
      <% if @entity == "player"  %>
        <%= button_to( "Supprimer", :action => "playerLeaveGame", :controller => "game_players", :game_id => game.id)%>
      <% end %>

    <% end %>
</div>



<!--  Demarer une partie -->
<% if @entity == "player"  %>
  <h4>liste des parties</h4>

  <% @notInGames.each do |game| %>
    <p><%= game.name %>
    <%= button_to( "Rejoindre", :action => "playerJoinGame", :controller => "games", :game_id => game.id)%>
    </p>
  <% end %>
<% end %>




