<p style="color: green"><%= notice %></p>

<p> Game: <%= @channel.name %></p>
<p> Description: <%= @game.description %> </p>
<p> Game master: <%= @gm.login  %> </p>

<h1>Player</h1>

<% @players.each do |player| %>
  <%= player.login %>
<% end %>


<h1>Messages</h1>

<div id="messages">
  <% @messages.each do |message| %>
    <%= render message %>
    <p>
      <%= link_to "Show this message", message.message %>
    </p>
  <% end %>
</div>

<% if @role == "player" %>
  <%= link_to "Jouer cette partie", edit_game_path(@game) %>
<% end %>

<% if @role == "player" %>
  <%= link_to "Jouer cette partie (changer le lien pour ammener au demarage ou a la reprise de la partie)", edit_game_path(@game) %>
<% end %>

<div>
  <% if @canModify %>
      <%= link_to "Edit this game", edit_game_path(@game) %> |
      <%= button_to "Destroy this game", @game, method: :delete %>
  <% end %>
  <%= link_to "Back to games", games_path %>
</div>

