<p style="color: green"><%= notice %></p>

<%= render @game %>
<p> Le Channel </p>
<p> <%= @channel.id %> </p>
<p> <%= @channel.name %> </p>

<h1>Player</h1>

<% @players.each do |player| %>
  <%= player.login %>
<% end %>


<h1>Messages</h1>

<div id="messages">
  <% @messages.each do |message| %>
    <%= render message %>
    <p>
      <%= link_to "Show this message", message.message %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>

