
<div>
  <%= form_with(model: chapter) do |form| %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>